nav(class='navbar navbar-inverse navbar-static-top', role='navigation')
  div.container
    div.navbar-header
      a(class='navbar-brand', href='#') Beyond Earth App
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') My Games
        li
          a(href='#') Technologies
        li
          a(href='#') Units
        li
          a(href='#') Buildings
        li
          a(href='#') Affinities
        li
          a(href='#') Factions
