// Modules 
script(src="js/app.js")

// Controllers 
script(src="js/controllers/HomeController.js")
// Game Controllers
script(src="js/controllers/game/GameController.js")
// Unit Controllers
script(src="js/controllers/unit/UnitListController.js")
script(src="js/controllers/unit/UnitViewController.js")
script(src="js/controllers/unit/UnitEditController.js")
script(src="js/controllers/unit/UnitAddController.js")

// Services 
script(src="js/services/gameService.js")
script(src="js/services/unitService.js")

// Directives 
script(src="js/directives/contentInfo.js")
script(src="js/directives/pageInfo.js")
script(src="js/directives/gameInfo.js")
script(src="js/directives/unitInfo.js")
script(src="js/directives/technologyInfo.js")
