// Modules 
script(src="js/app.js")

// Controllers 
script(src="js/controllers/HomeController.js")
script(src="js/controllers/GameController.js")
script(src="js/controllers/UnitsController.js")
script(src="js/controllers/UnitController.js")
script(src="js/controllers/UnitEditController.js")
script(src="js/controllers/UnitCreateController.js")

// Services 
script(src="js/services/gameService.js")
script(src="js/services/unitService.js")

// Directives 
script(src="js/directives/contentInfo.js")
script(src="js/directives/pageInfo.js")
script(src="js/directives/gameInfo.js")
script(src="js/directives/unitInfo.js")
script(src="js/directives/technologyInfo.js")
