<div class="form-group">
    <label for="name" class="col-xs-4 control-label">Name</label>
    <div class="col-xs-8">
        <input id="name" type="text" ng-model="content.Name" class="form-control" placeholder="Unit Name" />
    </div>
</div>
<div class="form-group">
    <label for="cost" class="col-xs-4 control-label">Cost</label>
    <div class="col-xs-8">
        <input id="cost" type="text" ng-model="content.Cost" class="form-control" placeholder="Unit Cost" />
    </div>
</div>
<div class="form-group">
    <label for="strength" class="col-xs-4 control-label">Strength</label>
    <div class="col-xs-8">
        <input id="strength" type="text" ng-model="content.Strength" class="form-control" placeholder="Unit Strength" />
    </div>
</div>
<div class="form-group">
    <div class="col-xs-offset-4 col-xs-8">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>
