<div class="form-group">
    <label for="name" class="col-xs-4 control-label">Name</label>
    <div class="col-xs-8">
        <input
            id="name"
            type="text"
            class="form-control"
            placeholder="Unit Name"
            ng-model="content.Name" />
    </div>
</div>
<div class="form-group">
    <label for="cost" class="col-xs-4 control-label">Cost</label>
    <div class="col-xs-8">
        <input
            id="cost"
            type="text"
            class="form-control"
            placeholder="Unit Cost"
            ng-model="content.Cost" />
    </div>
</div>
<div class="form-group">
    <label for="strength" class="col-xs-4 control-label">Strength</label>
    <div class="col-xs-8">
        <input
            id="strength"
            type="text"
            class="form-control"
            placeholder="Unit Strength"
            ng-model="content.Strength" />
    </div>
</div>
<div class="form-group">
    <label for="technology" class="col-xs-4 control-label">Technology</label>
    <div class="col-xs-8">
        <select
            id="technology"
            class="form-control"
            ng-model="content.Technology"
            ng-options="technology.Name for technology in technologies track by technology.TechnologyId">
        </select>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-offset-4 col-xs-8">
        <input
            type="submit"
            class="btn btn-primary"
            value="Save" />
    </div>
</div>
