<div class="main">
    <div class="container">

        <content-info info="content">

            <h2>
                {{ content.Name }}
                <div class="pull-right">
                    <a class="btn btn-primary" href="#/units/{{content.UnitId}}/edit">Edit</a>
                    <a class="btn btn-danger" ng-click="deleteUnit()">Delete</a>
                </div>
            </h2>



            <ul class="list-group">
                <li class="list-group-item">
                    Cost {{ content.Cost }}
                </li>
                <li class="list-group-item">
                    Strength {{ content.Strength }}
                </li>
            </ul>

            <technology-info info="content.Technology"></technology-info>



        </content-info>

    </div>
</div>
