<div class="main">
    <div class="container">

        <h2>{{ title }}</h2>

        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Private</a></li>
            <li><a href="#">Pictures</a></li>
            <li class="active">Vacation</li>
        </ul>

        <content-info info="content">
            <div class="list-group">
                <unit-info info="unit" ng-repeat="unit in content.Items"></unit-info>
            </div>
            <page-info info="content.Links"></page-info>
        </content-info>

    </div>
</div>
