<div class="main">
    <div class="container">

        <h2>{{ title }}</h2>

        <!-- <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Private</a></li>
            <li><a href="#">Pictures</a></li>
            <li class="active">Vacation</li>
        </ul> -->

        <content-info info="content">
            <a class="btn btn-primary" href="#/units/add">Add New Unit</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Technology</th>
                        <th>Cost</th>
                        <th>Strength</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="unit in content.Items" unit-info info="unit">
                </tbody>
            </table>
            <page-info info="content.Links"></page-info>
        </content-info>

    </div>
</div>
