<div class="main">
    <div class="container">

        <content-info info="content">
            <h2>Unit {{ content.UnitId }}</h2>
            <p class="title">{{ content.Name }}</p>
            <p class="cost">{{ content.Cost }}</p>
            <p class="strength">{{ content.Strength }}</p>
            <!-- TODO: use technologyInfo directive -->
            <div class="btn-group">
                <a class="btn btn-primary" href="#/units/{{content.UnitId}}/edit">Edit</a>
                <a class="btn btn-danger" ng-click="deleteUnit(unit)">Delete</a>
            </div>
        </content-info>

    </div>
</div>
