// Modules
script(src="app/app.js")

// Home Component
script(src="app/components/home/HomeController.js")

// Game Component
script(src="app/components/game/controllers/GameListController.js")
script(src="app/components/game/controllers/GameViewController.js")
script(src="app/components/game/gameResource.js")

// Unit Component
script(src="app/components/unit/controllers/UnitListController.js")
script(src="app/components/unit/controllers/UnitViewController.js")
script(src="app/components/unit/controllers/UnitEditController.js")
script(src="app/components/unit/controllers/UnitAddController.js")
script(src="app/components/unit/unitResource.js")

// Shared Components
script(src="app/shared/contentInfo/contentInfo.js")
script(src="app/shared/pageInfo/pageInfo.js")
script(src="app/shared/gameInfo/gameInfo.js")
script(src="app/shared/unitInfo/unitInfo.js")
script(src="app/shared/technologyInfo/technologyInfo.js")
