extends app/layout

block content
  div.container
    h1 {{ title }}
    h2 {{ promo }}
    
    div.col-md-6(ng-repeat="product in products")
      div.thumbnail
        img(ng-src="{{ product.cover }}")
        p.title {{ product.name }}
        p.price {{ product.price | currency }}
        p.date {{ product.pubdate | date }}
        div.rating
          p.likes(ng-click="plusOne($index)") +{{ product.likes }}
          p.dislikes(ng-click="minusOne($index)") -{{ product.dislikes }}
  
