tr
  td {{ info.Name }}
  td {{ info.TechnologyName }}
  td
    span.badge {{ info.Cost }}
  td
    span.badge {{ info.Strength }}
  td
    a.btn.btn-primary(href="#!/units/{{info.UnitId}}/view") View
