<div class="thumbnail">
    <p class="title">{{ info.description }}</p>
    <p class="faction">{{ info.faction }}</p>
    <p class="status">{{ info.status }}</p>
    <p class="date">{{ info.startdate | date }}</p>
    <div class="statistics">
        <span class="technologyCount" ng-click="incrementTechnology(1)">{{ info.technologyCount }}</span>
        <span class="cityCount" ng-click="incrementCity(1)">{{ info.cityCount }}</span>
        <div class="affinities">
            <span class="purity" ng-click="incrementPurity(1)">{{ info.affinities.purity }}</span>
            <span class="supremacy" ng-click="incrementSupremacy(1)">{{ info.affinities.supremacy }}</span>
            <span class="harmony" ng-click="incrementHarmony(1)">{{ info.affinities.harmony }}</span>
        </div>
    </div>
</div>
