<div class="thumbnail">
  <p class="title">{{ info.description }}</p>
  <p class="faction">{{ info.faction }}</p>
  <p class="status">{{ info.status }}</p>
  <p class="date">{{ info.startdate | date }}</p>
  <div class="statistics">
    <span class="technologyCount" ng-click="plusOneTechnology($index)">{{ info.technologyCount }}</span>
    <span class="cityCount" ng-click="plusOneCity($index)">{{ info.cityCount }}</span>
    <div class="affinities">
      <span class="purity" ng-click="plusOnePurity($index)">{{ info.affinities.purity }}</span>
      <span class="supremacy" ng-click="plusOneSupremacy($index)">{{ info.affinities.supremacy }}</span>
      <span class="harmony" ng-click="plusOneHarmony($index)">{{ info.affinities.harmony }}</span>
    </div>
  </div>
</div>

<button class="btn btn-active" ng-click="download()">
  {{ buttonText }}
</button>
